.output1{
    background-color: rgb(215, 218, 195);
    min-width: 1080px;
    min-height: 1080px;
    font-family: 'Ramabhadra', sans-serif;
    margin-top: 100px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    font-weight: bold;
}
.textinput{
    float: left;
}
.Background_image{
    position:relative;
    width: 400px;
    height: 400px;
    padding: 200px;
    padding-left: 200px;
    padding-top: 200px;
}